[issuefy]
build =
install =
remove =

[recurring_tasks]
build =
install = bundle exec rake redmine:plugins:migrate RAILS_ENV=production
remove = bundle exec rake redmine:plugins:migrate NAME=recurring_tasks VERSION=0 RAILS_ENV=production

[redmine_announcements]
build =
install =
remove =

[redmine_dashboard]
build = bundle install && npm install && make css js && make min
install = rake redmine:plugins:migrate
remove =

[redmine_tags]
build =
install = rake redmine:plugins:migrate NAME=redmine_tags RAILS_ENV=production
remove = rake redmine:plugins:migrate NAME=redmine_tags VERSION=0 FORCE_REDMINE_TAGS_TABLES_REMOVAL=yes

[redmine_tweaks]
build =
install =
remove =


